@import _reset.scss
@import blocks/_header


@font-face
    font-family: "SourceSansPro"
    src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), 
    url("../fonts/SourceSansPro-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: 500

html
    font-size: 62.5%

body
    font-family: "SourceSansPro", "sans-serif"
    font-size: 1.6rem
    font-weight: 500
    background-color: #010202

.container
    max-width: 1145px
    margin: 0 auto