@import _reset.scss
@import _adaptive_sizes_for_properties
@import blocks/_header
@import blocks/_film-description


@font-face
    font-family: "SourceSansPro"
    src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), 
    url("../fonts/SourceSansPro-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: 500

html
    font-size: 62.5%

body
    font-family: "SourceSansPro", "sans-serif"
    font-size: 1.6rem
    font-weight: 500
    background-color: #010202
    // &::after
    //     content: ''
    //     display: block
    //     position: absolute
    //     z-index: -1
    //     right: 0
    //     top: 0
    //     width: 53.3vw
    //     height: 100vh
    //     background-image: url(../img/cover-image.jpg)
    //     background-repeat: no-repeat
    //     background-size: contain
    //     background-position: center center

.wrapper
    min-height: 100vh
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat right top 
    background-size: contain
.container
    max-width: 1145px
    margin: 0 auto



@media ( max-width: 1199px)
    .wrapper
        background-size: 60%
        background-position: right top

    .container
        max-width: 100%
        padding: 0 30px


//для для планшетов в ВЕРТИКАЛЬНОМ режиме
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px)
    .wrapper
        @include adaptiv-value(padding-bottom, 1250, 900, 1024, 901)
        background-size: contain
        background-position: center bottom
    .film-description //из другого файла
        &__body 
            margin: 0 auto


    
@media ( max-width: 900px)
    .container
        padding: 0 20px

@media ( max-width: 767px)
    .wrapper
        @include adaptiv-value(padding-bottom, 650, 500, 767, 575)
        background-position: center bottom
        background-size: 70%

@media ( max-width: 575px)
    .wrapper
        @include adaptiv-value(padding-bottom, 700, 400, 575, 320)
        background-size: contain
