.film-description 
    // border: 1px solid #fff
    &__body 
        max-width: 435px
        @include adaptiv-value(padding-top, 200, 50, 900, 1)
        // padding-top: 200px
        // padding-top: calc(33.2vh - 100px)
        // width: 38%
        padding-bottom: 50px
    &__logo
        margin-bottom: 18px
        max-width: 100%
    &__tags 
        margin-bottom: 9px
        color: #E5E5E5
    &__year
        margin-right: 15px
        opacity: 0.4
    &__genre
        opacity: 0.4
        margin-right: 15px
    &__counry
        opacity: 0.4
        margin-right: 15px
    &__allowed-age
        padding: 0 5px
        border: 1px solid #FFFFFF
        box-sizing: border-box
        border-radius: 2px
        opacity: 0.5
    &__plot 
        margin-bottom: 38px
        font-size: 2.1rem
        line-height: 140%
        color: #ffffff
    &__buttons 
        display: flex
        align-items: center
    &__pre-order
        margin-right: 15px
        padding: 11px 25px
        border-radius: 6px
        font-size: 1.6rem
        color: #ffffff
        background-color: #EA6E20

    &__trailer 
        display: flex
        align-items: center
        padding: 11px 25px
        border-radius: 6px
        font-size: 1.6rem
        color: #ffffff
        background-color: #2F2F2F
        &::before 
            content: ''
            display: inline-block
            width: 12px
            height: 13px
            margin-right: 10px
            background-image: url("../img/icon-play.svg")
            background-repeat: no-repeat
            background-size: contain
    &__icon-play

// для планшетов вертикально
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px)
    .film-description 
        &__body 
            margin: 0 auto
        &__year
            opacity: 1
        &__genre
            opacity: 1
        &__counry
            opacity: 1
        &__allowed-age
            opacity: 1
            

@media (max-width: 900px)
    .film-description 
        &__body 
            margin: 0 auto
            padding-top: 50px
        &__plot
            margin-bottom: 20px

@media (max-width: 480px)
    .film-description 
        &__logo
            margin-bottom: 13px
        &__tags
            display: flex
            align-items: center
            flex-wrap: wrap
        &__year
            margin-right: 10px
            margin-bottom: 10px
        &__genre
            margin-right: 10px
            margin-bottom: 10px
        &__counry
            margin-right: 10px
            margin-bottom: 10px
        &__allowed-age
            margin-bottom: 10px

        &__trailer
            display: flex
            align-items: center
            justify-content: center
            padding: 0
            width: 65px
            height: 45px
            &::before
                margin-right: 0
                // padding: 15px 25px
            span
                display: none
            // width: 40px