.film-description 
    border: 10px solid red
    height: 100vh
    &__body 
        // @include adaptiv-value(padding-top, 200, 50, 3)
        // padding-top: 200px
        // width: 38%
        height: 100vh
        display: flex
        flex-direction: column
        justify-content: center
    &__text
        position: relative
        z-index: 1
        max-width: 435px
        border: 1px solid #fff
    &__photo
        // margin-left: auto
        max-width: 100%
        border: 1px solid #fff
        &-wrap
            display: flex
            align-items: center
            position: absolute
            right: 0
            top: 0
            max-width: 53%
            height: 100vh
            border: 1px solid #fff
    &__logo
        margin-bottom: 18px
        max-width: 100%
    &__tags 
        margin-bottom: 9px
        color: #E5E5E5
    &__year
        margin-right: 15px
        opacity: 0.4
    &__genre
        opacity: 0.4
        margin-right: 15px
    &__counry
        opacity: 0.4
        margin-right: 15px
    &__allowed-age
        padding: 0 5px
        border: 1px solid #FFFFFF
        box-sizing: border-box
        border-radius: 2px
        opacity: 0.5
    &__plot 
        margin-bottom: 38px
        font-size: 2.1rem
        line-height: 140%
        color: #ffffff
    &__buttons 
        display: flex
        align-items: center
    &__pre-order
        margin-right: 15px
        padding: 11px 25px
        border-radius: 6px
        font-size: 1.6rem
        color: #ffffff
        background-color: #EA6E20

    &__trailer 
        display: flex
        align-items: center
        padding: 11px 25px
        border-radius: 6px
        font-size: 1.6rem
        color: #ffffff
        background-color: #2F2F2F
        &::before 
            content: ''
            display: inline-block
            width: 12px
            height: 13px
            margin-right: 10px
            background-image: url("../img/icon-play.svg")
            background-repeat: no-repeat
            background-size: contain
    &__icon-play
        
@media (max-width: 991px)
    .film-description 
        &__body
            justify-content: flex-start
            padding-top: 150px
        &__text
            margin: 0 auto
            margin-bottom: 90px
        &__photo

            &-wrap
                position: static
                max-width: 100vw
                margin: 0 auto


@media (max-width: 480px)
    .film-description 
        &__logo
            margin-bottom: 13px
        &__tags
            display: flex
            align-items: center
            flex-wrap: wrap
        &__year
            margin-right: 10px
            margin-bottom: 10px
        &__genre
            margin-right: 10px
            margin-bottom: 10px
        &__counry
            margin-right: 10px
            margin-bottom: 10px
        &__allowed-age
            margin-bottom: 10px

        &__trailer
            display: flex
            align-items: center
            justify-content: center
            padding: 0
            width: 65px
            height: 45px
            &::before
                margin-right: 0
            span
                display: none
