/* RESET */
/*  ------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 58px;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user-name {
  margin-right: 15px;
  color: #ffffff;
}

.header__user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.film-description__body {
  max-width: 435px;
  padding-top: 200px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .film-description__body {
    padding-top: 200px;
    padding-top: calc(50px + 150 * ((100vw - 767px) / 432));
  }
}

@media (max-width: 767px) {
  .film-description__body {
    padding-top: 50px;
  }
}

.film-description__logo {
  margin-bottom: 18px;
  max-width: 100%;
}

.film-description__tags {
  margin-bottom: 9px;
  color: #E5E5E5;
}

.film-description__year {
  margin-right: 15px;
  opacity: 0.4;
}

.film-description__genre {
  opacity: 0.4;
  margin-right: 15px;
}

.film-description__counry {
  opacity: 0.4;
  margin-right: 15px;
}

.film-description__allowed-age {
  padding: 0 5px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5;
}

.film-description__plot {
  margin-bottom: 38px;
  font-size: 2.1rem;
  line-height: 140%;
  color: #ffffff;
}

.film-description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-description__pre-order {
  margin-right: 15px;
  padding: 11px 25px;
  border-radius: 6px;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #EA6E20;
}

.film-description__trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 25px;
  border-radius: 6px;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #2F2F2F;
}

.film-description__trailer::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 13px;
  margin-right: 10px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 900px) {
  .film-description__plot {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .film-description__body {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .film-description__logo {
    margin-bottom: 13px;
  }
  .film-description__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .film-description__year {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .film-description__genre {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .film-description__counry {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .film-description__allowed-age {
    margin-bottom: 10px;
  }
  .film-description__plot {
    font-size: 1.6rem;
  }
  .film-description__trailer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 65px;
    height: 45px;
  }
  .film-description__trailer::before {
    margin-right: 0;
  }
  .film-description__trailer span {
    display: none;
  }
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SourceSansPro", "sans-serif";
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #010202;
}

.wrapper {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#010202), color-stop(50%, #010202), color-stop(90%, rgba(1, 2, 2, 0.2)));
  background: -webkit-linear-gradient(left, #010202 0%, #010202 50%, rgba(1, 2, 2, 0.2) 90%);
  background: -o-linear-gradient(left, #010202 0%, #010202 50%, rgba(1, 2, 2, 0.2) 90%);
  background: linear-gradient(90deg, #010202 0%, #010202 50%, rgba(1, 2, 2, 0.2) 90%);
  background-size: contain;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.88%, #010202), color-stop(44.9%, rgba(1, 2, 2, 0.2))), url(../img/cover-image.jpg) no-repeat;
    background: -webkit-linear-gradient(left, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background: -o-linear-gradient(left, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) and (max-width: 1024px) {
  .wrapper {
    padding-bottom: 1250px;
    padding-bottom: calc(900px + 350 * ((100vw - 901px) / 123));
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) and (max-width: 901px) {
  .wrapper {
    padding-bottom: 900px;
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .wrapper .vidbg-container {
    display: none;
  }
  .film-description__body {
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.88%, #010202), color-stop(44.9%, rgba(1, 2, 2, 0.2))), url(../img/cover-image.jpg) no-repeat;
    background: -webkit-linear-gradient(left, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background: -o-linear-gradient(left, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../img/cover-image.jpg) no-repeat;
    background-position: center bottom;
    background-size: 70%;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .wrapper {
    padding-bottom: 650px;
    padding-bottom: calc(500px + 150 * ((100vw - 575px) / 192));
  }
}

@media (max-width: 767px) and (max-width: 575px) {
  .wrapper {
    padding-bottom: 500px;
  }
}

@media (max-width: 767px) {
  .wrapper .vidbg-container {
    display: none;
  }
}

@media (max-width: 575px) {
  .wrapper {
    background-size: contain;
  }
}

@media (max-width: 575px) and (max-width: 575px) {
  .wrapper {
    padding-bottom: 700px;
    padding-bottom: calc(400px + 300 * ((100vw - 320px) / 255));
  }
}

@media (max-width: 575px) and (max-width: 320px) {
  .wrapper {
    padding-bottom: 400px;
  }
}
