doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title КиноПульс - Mortal Combat
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet", href="css/vidbg.css")
    body 
    //- pug -w . -o ./ -P 
    -//
        #wrapper.wrapper
            header.header
                .container 
                    .header__body
                        a.header__logo-wrap(href="#")
                            img.header__logo(src="img/logo.svg" alt="Логотип")
                        a.header__user(href="#")
                            span.header__user-name Артем
                            img.header__user-photo(src="img/user-photo.jpg" alt="Фото пользователя")

            main.film-description 
                .container 
                    .film-description__body 
                        img.film-description__logo(src="img/film-logo.png" alt="Логотип фильма")
                        .film-description__tags 
                            span.film-description__year 2021
                            span.film-description__genre боевик, фэнтези, фантастика
                            span.film-description__counry США
                            span.film-description__allowed-age 18+
                        p.film-description__plot Продолжение легендарного фильма из 90-х. Предстоит по-настоящему смертельная битва, где останется только сильнейший
                        .film-description__buttons 
                            button.film-description__pre-order Предзаказ фильма
                            button.film-description__trailer 
                                span Смотреть трейлер
        script(src="js/vidbg.js")
        script(src="js/main.js")  

